.accordion label {
  display: flex;
  flex-direction: row;
  margin: 0 0 25px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $gray-darkest;

  @media (max-width: $tablet-width) {
    position: relative;
    z-index: 20;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 69px;
    margin-bottom: 0;
    padding: 36px 15px;
    cursor: pointer;
  }
}

.accordion label::after,
.accordion input:checked + label::after {
  @media (max-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 37%;
    right: 17px;
    width: 16px;
    height: 16px;
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.accordion input:checked + label::after {
  @media (max-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    top: 47%;
    right: 13px;
    background-position: 70% 50%;
    background-color: $background-gray-darker;
  }
}

.accordion input {
  display: none;
}

.accordion__panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  @media (max-width: $desktop-width) {
    flex-direction: column;
  }


  @media (max-width: $tablet-width) {
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0;
    position: relative;
    z-index: 10;
  }
}

.accordion input:checked ~ .accordion__panel {
  @media (max-width: $tablet-width) {
    min-height: 121px;
    margin-top: 3px;
    margin-bottom: 29px;
  }
}

.accordion__panel-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (max-width: $tablet-width) {
    padding-left: 15px;
    padding-right: 20px;
  }
}

.accordion__panel address {
  font-size: 15px;
  line-height: 25px;
  font-style: normal;
  color: $gray-darkest;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }
}
