.main-wrap {
  background-image: url("../img/triangle-pattern.svg");
  background-repeat: no-repeat;
  background-size: 2243px 1347px;
  background-position: top -28px left -300px;

  @media (max-width: $desktop-width) {
    background-image: url("../img/triangle-pattern-2.svg");
    background-position: top -349px left -469px;
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/triangle-pattern-3.svg");
    background-position: bottom 54px left -469px;
  }
}

// .advantages {

// }

.advantages__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 1214px;
  margin: 0 auto 105px;
  padding: 111px 20px 0;
  list-style: none;

  @media (max-width: $desktop-width) {
    gap: 29px;
    margin: 55px auto 65px;
    padding-top: 53px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    margin-top: 37px;
    margin-bottom: 59px;
    padding-left: 12px;
    padding-right: 11px;
  }

  @media (max-width: $mobile-width) {
    gap: 19px;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 42px 36px 66px 43px;
  background-color: $basic-white;
  border: 1px solid $gray-lightest;
  border-left: 3px solid $basic-blue;
  z-index: 1;

  &:hover {
    background-color: $basic-blue;

    h3,
    p {
      color: $basic-white;
    }

    svg {
      fill: $basic-white;
    }
  }

  @media (max-width: $desktop-width) {
    padding: 24px 19px 24px 29px;
  }

  @media (max-width: $tablet-width) {
    padding: 25px 17px 29px 27px;
  }
}

.advantages__item:nth-child(3n) > p:nth-child(3n) {
  margin-bottom: 46px;

  @media (max-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.advantages__item:nth-child(2) {
  @media (max-width: $tablet-width) {
    padding-right: 16px;
  }
}

.advantages__item:nth-child(3n) {
  @media (max-width: $tablet-width) {
    padding-bottom: 63px;
  }
}

.advantages__item:nth-child(3n) > h3:nth-child(2n) {
  @media (max-width: $tablet-width) {
    margin-bottom: 13px;
  }
}

.advantages__item:nth-child(4n) > h3:nth-child(2n) {
  @media (max-width: $tablet-width) {
    margin-bottom: 14px;
  }
}

.advantages__item:nth-child(4n) > p:nth-child(3n) {
  @media (max-width: $tablet-width) {
    padding-bottom: -13px;
  }
}

.advantages__item:nth-child(4) {
  @media (max-width: $tablet-width) {
    padding-bottom: 20px;
  }
}

.advantages__item svg {
  margin-bottom: 19px;
  fill: $basic-blue;

  @media (max-width: $desktop-width) {
    margin-bottom: 7px;
  }
}


.advantages__item h3 {
  margin: 0;
  margin-bottom: 14px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: $basic-blue;

  // &:hover {
  //  color: $basic-white;
  // }

  @media (max-width: $desktop-width) {
    margin-bottom: 8px;
  }

  @media (max-width: $tablet-width) {
    font-size: 20px;
    line-height: 28px;
  }
}

.advantages__item p {
  margin: 0;
  line-height: 22px;
  color: $gray;

  // &:hover {
  //   color: $basic-white;
  // }
}
