.company {
  margin-bottom: 110px;

  @media (max-width: $desktop-width) {
    margin-bottom: 85px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 64px;
    padding-right: 16px;
    padding-left: 16px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 75px;
    padding-right: 0;
    padding-left: 12px;
  }
}

.company__wrapper {
  position: relative;
  max-width: 1174px;
  margin: 0 auto;
  padding-right: 8px;
  padding-left: 191px;
  line-height: 22px;
  color: $gray;

  &::before {
    position: absolute;
    content: "";
    top: 6px;
    left: -1.8%;
    width: 220px;
    height: 317px;
    background-image: url("../img/company-year.png");
    background-repeat: no-repeat;
    background-size: 100% auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/company-year@2x.png");
    }
  }

  @media (max-width: $desktop-width) {
    padding-left: 191px;
    padding-right: 5px;

    &::before {
      top: -2px;
      left: -3.7%;
      width: 251px;
      height: 362px;
    }
  }

  @media (max-width: $tablet-width) {
    padding-left: 0;

    &::before {
      display: none;
    }
  }
}

.company h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $gray;

  @media (max-width: $desktop-width) {
    margin-bottom: 23px;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 18px;
    font-size: 28px;
    line-height: 39px;
  }
}

.company__text-start {
  margin: 0;
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    margin-bottom: 41px;
  }
}

.company__text {
  margin: 0;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.company__text-excerpt {
  display: none;
  margin: 0;

  @media (max-width: $desktop-width) {
    display: block;
    line-height: 22px;
    color: $gray;
    margin-bottom: 20px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 9px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 38px;
  }
}

.company a {
  display: inline-block;
  min-width: 180px;
  margin-top: 40px;
  padding: 14px 13px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $basic-blue;
  border: 1px solid $basic-blue;
  border-radius: 5px;
  background-color: $basic-white;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }

  @media (max-width: $desktop-width) {
    margin-top: 20px;
  }

  @media (max-width: $mobile-width) {
    padding: 14px 48px;
  }
}
