.contacts {
  background-color: $basic-blue;
  background-image: url("../img/photo-6.png");
  background-size: 1745px 765px;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: $desktop-width-max) {
    background-position: top -62px left 174px;
  }

  @media (max-width: $desktop-width) {
    background-image: none;
  }

  @media (max-width: $tablet-width) {
    padding-top: 31px;
    padding-bottom: 41px;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 570px;
  margin-left: auto;
  margin-right: 119px;

  @media (max-width: $desktop-width) {
    max-width: 594px;
    margin: 0 auto;
  }
}

.contacts h3 {
  margin: 0 0 10px;
  padding-top: 93px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $basic-white;

  @media (max-width: $desktop-width) {
    margin: 0 0 18px;
    padding-top: 80px;
    font-size: 32px;
    line-height: 45px;
    text-align: left;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 16px;
    font-size: 28px;
    line-height: 39px;
  }
}

.contacts p {
  margin: 0;
  margin-bottom: 53px;
  color: $basic-white;

  @media (max-width: $desktop-width) {
    margin-bottom: 54px;
    padding-left: 7px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 27px;
  }
}
