.modal__wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.modal__wrapper input:not([type="checkbox"]) {
  margin-bottom: 32px;
  line-height: 22px;
}

.modal__wrapper textarea {
  margin-bottom: 34px;
  resize: none;
}

.modal__wrapper button {
  margin: 0;
  margin-bottom: 33px;
}

.form-modal__submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  line-height: 16px;
  color: $basic-white;
  opacity: 0.8;
}

.form-modal__submit input[type="checkbox"] {
  display: none;
}

.form-modal__submit label {
  position: relative;
  padding-left: 56px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid $basic-white;
  }
}

.form-modal__submit input:checked + label {
  &::before {
    top: 8px;
    border: none;
    background-image: url("../img/icon-checkmark.svg");
    background-repeat: no-repeat;
  }
}
