.form-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 112px;

  @media (max-width: $desktop-width) {
    padding-bottom: 104px;
    padding-left: 11px;
  }

  @media (max-width: $tablet-width) {
    padding-left: 0;
    padding-bottom: 2px;
  }
}

.form-box__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;

  @media (max-width: $desktop-width) {
    margin-bottom: 44px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    margin: 0;
  }
}

form input:not([type="checkbox"]) {
  min-width: 270px;
  padding: 14px 16px;
  background: $basic-white-f;
  color: $basic-white;
  border: 1px solid $basic-white-f;
  border-radius: 0;

  &::placeholder {
    color: $basic-white;
    opacity: 1;
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }

  @media (max-width: $desktop-width) {
    padding: 16px 16px;
  }

  @media (max-width: $tablet-width) {
    min-width: 180px;
    margin-bottom: 32px;
  }
}

form textarea {
  margin-bottom: 45px;
  padding: 13px 16px;
  color: $basic-white;
  background: $basic-white-f;
  resize: none;
  border: 1px solid $basic-white-f;
  border-radius: 0;

  &::placeholder {
    color: $basic-white;
    opacity: 1;
  }

  &:hover {
    opacity: 0.5;
  }

  @media (max-width: $desktop-width) {
    margin-bottom: 49px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 31px;
    max-height: 102px;
  }
}

.form-box__submit {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    margin: 0 auto;
  }
}

.form-box__submit button {
  width: 270px;
  margin-right: 37px;

  @media (max-width: $desktop-width) {
    min-width: 279px;
    margin-right: 39px;
  }

  @media (max-width: $tablet-width) {
    min-width: 291px;
    margin-right: 0;
    margin-bottom: 21px;
  }
}

.form-box__submit input[type="checkbox"] {
  position: absolute;
  left: calc(50% + 27px);
  bottom: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-box__submit label {
  position: relative;
  width: 250px;
  padding-top: 9px;
  padding-left: 34px;
  font-size: 14px;
  line-height: 16px;
  color: $basic-white;
  opacity: 0.8;
  vertical-align: middle;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid $basic-white;
  }

  &:hover {
    opacity: 0.5;
  }

  @media (max-width: $desktop-width) {
    padding-left: 35px;
  }

  @media (max-width: $tablet-width) {
    width: 225px;
    padding-left: 31px;
  }
}

.form-box__submit input {
  width: 16px;
  height: 16px;
  border: 1px solid;
}

.form-box__submit input:checked + label {
  &::before {
    top: 8px;
    border: none;
    background-image: url("../img/icon-checkmark.svg");
    background-repeat: no-repeat;
  }

  &:hover {
    opacity: 1;
  }
}

.form-box__submit input:disabled + label::before {
  background: $basic-blue;
}
