form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.contacts__wrapper form {
  padding-bottom: 112px;

  @media (max-width: $desktop-width) {
    padding-bottom: 104px;
    padding-left: 17px;
  }

  @media (max-width: $tablet-width) {
    padding-left: 0;
    padding-bottom: 2px;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;

  @media (max-width: $desktop-width) {
    margin-bottom: 44px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    margin: 0;
  }
}

form input:not([type="checkbox"]) {
  max-width: 767px;
  min-width: 270px;
  padding: 14px 16px;
  background: $basic-white-f;
  color: $basic-white;
  border: 1px solid $basic-white-f;

  &::placeholder {
    color: $basic-white;
    opacity: 1;
  }

  @media (max-width: $desktop-width) {

    padding: 16px 16px;
  }

  @media (max-width: $tablet-width) {
    min-width: 180px;
    margin-bottom: 32px;
  }
}

form textarea {
  margin-bottom: 45px;
  padding: 13px 16px;
  background: $basic-white-f;
  resize: none;
  border: 1px solid $basic-white-f;

  &::placeholder {
    color: $basic-white;
    opacity: 1;
  }

  @media (max-width: $desktop-width) {
    margin-bottom: 49px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 31px;
    max-height: 102px;
  }
}

.form__submit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    margin: 0 auto;
  }
}

.form__submit button {
  width: 270px;
  margin-right: 37px;
  padding: 14px 18px;
  font-family: $font-roboto-condensed;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $basic-blue;
  border: 1px solid $basic-white;
  border-radius: 5px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }

  @media (max-width: $desktop-width) {
    min-width: 279px;
    margin-right: 39px;
  }

  @media (max-width: $tablet-width) {
    margin-right: 0;
    margin-bottom: 21px;
  }
}

.form__submit input[type="checkbox"] {
  display: none;
}

.form__submit label {
  position: relative;
  width: 250px;
  padding-top: 9px;
  padding-left: 34px;
  font-size: 14px;
  line-height: 16px;
  color: $basic-white;
  opacity: 0.8;
  vertical-align: middle;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid $basic-white;
  }

  @media (max-width: $desktop-width) {
    padding-left: 35px;
  }

  @media (max-width: $tablet-width) {
    width: 225px;
    padding-left: 31px;
  }
}

.form__submit input {
  width: 16px;
  height: 16px;
  border: 1px solid;
}

.form__submit input:checked + label {
  &::before {
    top: 8px;
    border: none;
    background-image: url("../img/icon-checkmark.svg");
    background-repeat: no-repeat;
  }
}

.form__submit input:disabled + label::before {
  background: $basic-blue;
}
