.header-hero h2 {
  margin: 0 0 25px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $basic-white;

  @media (max-width: $desktop-width) {
    max-width: 386px;
    margin: 0 0 29px;
    padding-left: 60px;
    font-size: 60px;
    line-height: 70px;
  }

  @media (max-width: $tablet-width) {
    padding-left: 0;
    font-size: 40px;
    line-height: 47px;
  }
}

.header-hero p {
  position: relative;
  max-width: 710px;
  margin: 0 0 45px;
  padding-left: 96px;
  font-size: 22px;
  line-height: 34px;
  color: $basic-white;

  &::before {
    position: absolute;
    content: "";
    top: 17px;
    left: 0;
    width: 66px;
    height: 2px;
    background-color: $basic-white;
  }

  @media (max-width: $desktop-width) {
    max-width: 466px;
    padding-left: 114px;
    margin: 0 0 54px;
    font-size: 18px;
    line-height: 28px;

    &::before {
      width: 33px;
      top: 15px;
      left: 63px;
    }
  }

  @media (max-width: $tablet-width) {
    max-width: 370px;
    margin: 0 0 40px;
    padding-left: 54px;
    font-size: 16px;
    line-height: 25px;

    &::before {
      left: 7px;
    }
  }
}

.header-hero__btn {
  margin-left: 96px;
  margin-bottom: 276px;
  padding: 17px 45px 17px;
  background-color: $basic-blue;
  border-radius: 5px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $basic-white;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $desktop-width) {
    margin-left: 112px;
    margin-bottom: 164px;
    padding: 17px 31px;
  }

  @media (max-width: $tablet-width) {
    margin: 0;
    padding: 17px 28px;
  }
}

.header-hero__btn--large {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header-hero__btn--small {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    margin: 0;
    margin-left: 3px;
    padding-left: 37px;
  }
}

.header-hero__scroll-up {
  position: fixed;
  top: 693px;
  left: 257px;
  width: auto;
  height: 13px;
  cursor: pointer;
  color: $basic-white;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.5;
  transform: translate(-45px, 323%) rotate(-90deg);

  @media (max-width: $desktop-width) {
    display: none;
  }
}
