.header-title {
  position: relative;
  margin-top: 233px;
  padding-bottom: 276px;

  @media (max-width: $desktop-width) {
    margin-top: 115px;
    padding-bottom: 163px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 229px;
    padding-bottom: 70px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 227px;
    padding-bottom: 72px;
  }
}

.header-title h1 {
  margin: 0;
  margin-bottom: 25px;
  padding-left: 6px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $basic-white;

  @media (max-width: $desktop-width) {
    max-width: 386px;
    margin: 0;
    margin-bottom: 27px;
    padding-left: 68px;
    font-size: 60px;
    line-height: 70px;
  }

  @media (max-width: $tablet-width) {
    padding-left: 0;
    font-size: 40px;
    line-height: 47px;
  }
}

.header-title p {
  position: relative;
  max-width: 712px;
  margin: 0;
  margin-bottom: 45px;
  padding-left: 104px;
  font-size: 22px;
  line-height: 34px;
  color: $basic-white;

  &::before {
    position: absolute;
    content: "";
    top: 17px;
    left: 11px;
    width: 66px;
    height: 2px;
    background-color: $basic-white;
  }

  @media (max-width: $desktop-width) {
    max-width: 466px;
    padding-left: 119px;
    margin: 0;
    margin-bottom: 55px;
    font-size: 18px;
    line-height: 28px;

    &::before {
      width: 33px;
      top: 16px;
      left: 71px;
    }
  }

  @media (max-width: $tablet-width) {
    max-width: 370px;
    margin: 0;
    margin-bottom: 40px;
    padding-left: 54px;
    font-size: 16px;
    line-height: 25px;

    &::before {
      left: 7px;
    }
  }
}

.header-title__btn {
  display: inline-block;
  margin-left: 104px;
  padding: 17px 45px 17px;
  background-color: $basic-blue;
  border-radius: 5px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $basic-white;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $desktop-width) {
    margin-left: 119px;
    padding: 18px 31px;
  }

  @media (max-width: $tablet-width) {
    margin: 0;
    padding: 17px 16px;
  }
}

.header-title__btn--large {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header-title__btn--small {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    margin: 0;
    margin-left: 3px;
    padding-left: 22px;
  }
}

.header-title__scroll-down {
  position: absolute;
  left: 15px;
  bottom: 30%;
  width: auto;
  height: 13px;
  cursor: pointer;
  color: $basic-white;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.5;
  transform: translate(-45px, 323%) rotate(-90deg);
  z-index: 3;

  @media (max-width: $desktop-width) {
    display: none;
  }
}
