.header-main {
  background-color: $gray-darkest;
  background-image: url("../img/wavy-pattern.png"), url("../img/circuit-boards-large.png");
  background-repeat: no-repeat;
  background-position: top center, top 119px right 13.4%;
  background-size: cover, auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/wavy-pattern@2x.png"), url("../img/circuit-boards-large@2x.png");
  }

  @media (max-width: $desktop-width) {
    background-image: url("../img/wavy-pattern.png"), url("../img/circuit-boards-medium.png");
    background-size: auto, 543px;
    background-position: top center, top 17px right -109%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/wavy-pattern@2x.png"), url("../img/circuit-boards-medium@2x.png");
    }
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/wavy-pattern.png"), url("../img/circuit-boards-small.png");
    background-size: auto, 631px;
    background-position: top center, top 17px right -109%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/wavy-pattern@2x.png"), url("../img/circuit-boards-small@2x.png");
    }
  }

  @media (max-width: $mobile-width) {
    background-position: top center, top -28% left -8%;
  }
}

.header-main__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 32px;

  @media (max-width: $desktop-width) {
    padding-top: 19px;
    padding-right: 12px;
  }

  @media (max-width: $tablet-width) {
    max-width: 320px;
    padding-top: 15px;
    padding-left: 14px;
    padding-right: 16px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 17px;
  }
}

.header-main__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-main__logo {
  margin-right: auto;
  padding-left: 14px;

  @media (max-width: $desktop-width) {
    padding-left: 5px;
  }

  @media (max-width: $tablet-width) {
    min-height: 39px;
    padding-left: 5px;
  }
}

.header-main__logo-img {
  width: 52px;
  height: 52px;

  @media (max-width: $tablet-width) {
    width: 38px;
    height: 38px;
  }
}

.header-main__logo-text {
  @media (max-width: $tablet-width) {
    display: none;
  }
}
