.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  min-height: 875px;
  overflow: auto;
  background-color: $background-gray-light;
  z-index: 2;
}

.modal--opened {
  display: block;
}

.modal__wrapper {
  width: 490px;
  height: 605px;
  padding: 29px 39px 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $basic-blue;
  color: $basic-white;
  z-index: 2;
}

.modal__close-btn {
  position: fixed;
  right: 20px;
  top: 20px;
  background-color: transparent;
  border: none;
  width: 17px;
  height: 17px;
  background-image: url("../img/close-button.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal h3 {
  margin: 0;
  margin-bottom: 11px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 39px;
}

.modal p {
  margin: 0;
  margin-bottom: 33px;
  padding-right: 10px;
  line-height: 22px;
}

.modal__wrapper form input {
  padding-top: 12px;
  padding-left: 23px;
}


.modal__wrapper form textarea {
  padding-left: 21px;
}
