.page-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-end;
}

.page-footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  // max-width: 1454px;
  margin: 0 auto;
  padding: 66px 15px 60px 26px;

  @media (max-width: $desktop-width) {
    flex-direction: column;
    padding: 0;
  }

  @media (max-width: $tablet-width) {
    padding-top: 47px;
    padding-bottom: 26px;
  }
}

.page-footer__links-wrap {
  // position: relative;
  margin: 0;

  // &::before {
  //   position: absolute;
  //   content: "";
  //   bottom: 4px;
  //   width: 100vw;
  //   height: 1px;
  //   border: 1px solid $border-gray;
  //   opacity: 0.2;
  // }

  @media (max-width: $desktop-width) {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      bottom: -3px;
      width: 100vw;
      height: 1px;
      border: 1px solid $border-gray;
      opacity: 0.2;
    }
  }

  @media (max-width: $tablet-width) {
    margin: 0 auto;

    &::before {
      bottom: 48px;
    }
  }
}

.page-footer__links {
  max-width: 250px;
  margin: 0 auto;
  margin-right: 80px;

  @media (max-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    max-width: 721px;
    justify-content: space-between;
    align-items: center;
    padding-left: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.page-footer__links img {
  margin-bottom: 51px;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $desktop-width) {
    margin-bottom: 0;
  }

  @media (max-width: $tablet-width) {
    width: 225px;
    margin-bottom: 21px;
    padding-left: 7px;
  }
}

.page-footer__links p {
  display: none;
  margin: 0;
  margin-bottom: 32px;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: $gray-darkest;
  opacity: 0.5;
  letter-spacing: 0.44px;

  @media (max-width: $desktop-width) {
    display: block;
    margin-bottom: 0;
  }
}

.page-footer__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 111px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $desktop-width) {
    min-width: 112px;
  }

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 53px;
  }
}

.page-footer__link {
  &:hover {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.8;
  }
}

.page-footer__accordion-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: $desktop-width) {
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.page-footer__menu {
  max-width: 480px;
  margin-right: 226px;

  @media (max-width: $desktop-width) {
    margin-right: 65px;
  }

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}

.accordion {
  @media (max-width: $tablet-width) {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      bottom: 4px;
      width: 100%;
      height: 1px;
      border: 1px solid $border-gray;
      opacity: 0.2;
    }
  }
}

.accordion label {
  display: flex;
  flex-direction: row;
  margin: 0 0 25px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $gray-darkest;

  @media (max-width: $tablet-width) {
    position: relative;
    z-index: 20;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 69px;
    padding: 6px 10px;
    cursor: pointer;
  }
}

.accordion label::after,
.accordion input:checked + label::after {
  @media (max-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 37%;
    right: 17px;
    width: 16px;
    height: 16px;
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.accordion input:checked + label::after {
  @media (max-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    top: 47%;
    right: 13px;
    background-position: 70% 50%;
    background-color: $background-gray-darker;
  }
}

.accordion input {
  display: none;
}

.accordion__panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  @media (max-width: $desktop-width) {
    flex-direction: column;
  }


  @media (max-width: $tablet-width) {
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0;
    position: relative;
    z-index: 10;
  }
}

.accordion input:checked ~ .accordion__panel {
  @media (max-width: $tablet-width) {
    min-height: 121px;
    margin-bottom: 29px;
  }
}

.accordion__panel-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (max-width: $tablet-width) {
    padding-left: 15px;
    padding-right: 20px;
  }
}

.page-footer__list {
  margin: 0 78px 0 0;
  padding: 0;
  list-style: none;
}

.page-footer__list:nth-child(2n) {
  margin-right: 0;
}

.page-footer__item {
  @media (max-width: $tablet-width) {
    padding-left: 15px;
    padding-right: 20px;
  }
}

.page-footer__item a {
  font-size: 15px;
  line-height: 25px;
  color: $gray-darkest;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-footer__contacts {
  max-width: 400px;

  @media (max-width: $desktop-width) {
    min-width: 333px;
  }
}

.page-footer__contacts h3 {
  margin: 0  0 25px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $gray-darkest;
}

.accordion__panel address {
  font-size: 15px;
  line-height: 25px;
  font-style: normal;
  color: $gray-darkest;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-footer__contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__contacts-item a {
  font-size: 15px;
  line-height: 25px;
  color: $gray-darkest;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-footer__bottom {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -18px;
    width: 100%;
    border: 1px solid $border-gray;
    opacity: 0.2;
  }

  @media (max-width: $desktop-width) {
    &::before {
      top: 17px;
    }
  }

  @media (max-width: $tablet-width) {
    &::before {
      display: none;
    }
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 14px auto;
  padding-left: 30px;
  font-size: 13px;
  line-height: 24px;
  align-items: center;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $gray-darkest;
  opacity: 0.5;

  @media (max-width: $desktop-width) {
    margin-top: 39px;
    margin-bottom: 23px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
}

.page-footer__wrapper-copyright {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 0;
  margin-right: 143px;

  @media (max-width: $desktop-width-max) {
    margin-right: 43px;
  }

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.page-footer__wrapper-copyright span {
  margin-right: 69px;
}

.page-footer__wrapper a {
  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 21px;
  }
}

.page-footer__wrapper-author {
  margin: 0;
  margin-left: auto;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $tablet-width) {
    margin: 0 auto;
  }
}
