.page-footer {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
}

.page-footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 1460px;
  margin: 0 auto;
  padding: 66px 19px 57px 26px;

  @media (max-width: $desktop-width-max) {
    min-width: 0;
    padding-left: 16px;
    padding-bottom: 17px;
  }

  @media (max-width: $desktop-width) {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}

.page-footer__links-wrap {
  margin: 0;

  @media (max-width: $desktop-width-max) {
    margin-right: 23px;
  }

  @media (max-width: $desktop-width) {
    position: relative;
    width: 100%;
    margin-right: 0;

    &::before {
      position: absolute;
      content: "";
      bottom: -3px;
      width: 100%;
      height: 1px;
      border: 1px solid $border-gray;
      opacity: 0.2;
    }
  }

  @media (max-width: $tablet-width) {
    &::before {
      border: none;
    }
  }
}

.page-footer__links {
  padding: 0;

  @media (max-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 770px;
    max-height: 117px;
    padding: 20px 10px 21px 40px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    padding-top: 45px;
    padding-left: 34px;
    padding-right: 25px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 24px;
  }
}

.page-footer__links a {
  display: block;
  width: 216px;
  height: 52px;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $desktop-width) {
    margin-right: 14px;
    margin-bottom: 0;
  }

  @media (max-width: $tablet-width) {
    width: 225px;
    padding-left: 7px;
  }
}

.page-footer__links p {
  display: none;
  margin: 0;
  margin-bottom: 32px;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: $gray-darkest;
  opacity: 0.5;
  letter-spacing: 0.44px;

  @media (max-width: $desktop-width) {
    display: block;
    margin-bottom: 0;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 31px;
  }
}

.page-footer__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 111px;
  margin: 0;
  margin-top: 47px;
  padding: 0;
  list-style: none;

  @media (max-width: $desktop-width) {
    align-items: inherit;
    min-width: 112px;
    margin: 0;
  }

  @media (max-width: $tablet-width) {
    margin: 23px auto 0;
  }
}

.page-footer__social a {
  display: block;
  width: 27px;
  height: 27px;

  &:hover {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.8;
  }
}

.page-footer__accordion-wrap {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  @media (max-width: $desktop-width) {
    flex-direction: row;
    padding: 42px 20px 37px 41px;
  }

  @media (max-width: $tablet-width) {
    position: relative;
    flex-direction: column;
    width: 100%;
    padding: 0;
    padding-top: 146px;
  }
}

.page-footer__menu {
  margin-right: 229px;

  @media (max-width: $desktop-width-max) {
    margin-right: 47px;
  }

  @media (max-width: $desktop-width) {
    margin-right: 63px;
  }

  @media (max-width: $tablet-width) {
    margin-right: 0;
    border-top: 1px solid $border-gray;
    border-bottom: 1px solid $border-gray;
  }
}

.page-footer__list {
  margin: 0 78px 0 0;
  padding: 0;
  list-style: none;
}

.page-footer__list:nth-child(2n) {
  margin-right: 0;
}

.page-footer__item a {
  font-size: 15px;
  line-height: 25px;
  color: $gray-darkest;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-footer__contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__contacts-item a {
  font-size: 15px;
  line-height: 25px;
  color: $gray-darkest;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-footer__bottom {
  width: 100%;
  border-top: 1px solid $border-gray;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 14px auto;
  padding-left: 30px;
  font-size: 13px;
  line-height: 24px;
  align-items: center;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $gray-darkest;
  opacity: 0.5;

  @media (max-width: $desktop-width) {
    max-width: 762px;
    margin: 21px 0 22px;
    padding-left: 41px;
    padding-right: 2px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-top: 29px;
  }
}

.page-footer__wrapper-copyright {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 0;
  margin-right: 143px;

  @media (max-width: $desktop) {
    margin-right: 43px;
  }

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.page-footer__wrapper-copyright span {
  margin-right: 74px;

  @media (max-width: $desktop) {
    margin-right: 69px;
  }
}

.page-footer__wrapper a {
  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 21px;
  }
}

.page-footer__wrapper-author {
  margin: 0;
  margin-left: auto;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $tablet-width) {
    margin: 0 auto;
  }
}
