button {
  width: 100%;
  padding: 14px 18px;
  font-family: $font-roboto-condensed;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $basic-blue;
  border: 1px solid $basic-white;
  border-radius: 5px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }
}
