.container {
  max-width: 1460px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1023px) {
  .container {
    max-width: 1023px;
  }
}

@media (max-width: 769px) {
  .container {
    max-width: 769px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 320px;
  }
}

// @media screen and (prefers-reduced-motion: reduce) {
//   html {
//     scroll-behavior: auto;
//   }
// }
