//Global
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  overflow-wrap: anywhere;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $basic-white;
  color: $basic-black;
  font-family: "PT Mono", "Courier New", "Courier", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: $basic-black;
}

img {
  max-width: 100%;
  height: auto;
}
