// SIZES
// $mobile: 320px;
// $tablet: 768px;
// $desktop: 1024px;

// SIZES
// $desktop-max: 1224px;
// $desktop-width-max: 1166px;
$desktop-width: 1023px;
$tablet-width: 767px;
$mobile-width: 320px;

// $container: 1410px;
// $container-min-mobile: 320px;
// $container-min-desktop: 1070px;
// $container-max: 1450px;


// $desktop-max: 1224px;
$desktop-width-max: 1166px;
// $desktop-width: 1023px;
// $tablet-width: ;

// COLORS
$basic-white: #ffffff;
$basic-black: #000000;
$basic-gray: #788891;
$basic-blue: #00B2FF;

$gray-lightest: #EBEBEB;
$gray-lighter: #F2F2F2;
$gray-light:  #CDCDCD;
$gray: #666666;
$gray-dark: #788891;
$gray-darker:#203C42;
$gray-darkest: #1B2D37;
$background-gray-lighter: #FAFAFA;
$background-gray-light: #E5E5E5;
$background-gray-dark: #585858;
$background-gray-darker: #C4C4C4;
$border-gray: #626962;
